* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

:root {
  --main-bg-color: #222222;
  --secondary-bg-color: #1e1e1e;
  --primary-color: #f26c4f;
  --secondary-color: #3e92cc;
  --white-color: #eaf3e9;
}

.wrapper {
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--main-bg-color);
  height: 8vh;
}

#logo {
  width: 2.8rem;
}

.nav-menu {
  max-width: 90%;
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: space-between;
  margin: auto;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

.nav-menu a {
  position: relative;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
}

.nav-menu a:after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: 250ms;
}

.nav-menu a:hover:after {
  width: 100%;
}

.hero {
  height: 92vh;
  background: var(--main-bg-color);
  position: relative;
  overflow: hidden;
}

/* STARS */

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;

  transform: rotate(-45deg);
}

.star {
  --star-color: #3e91cc88;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 6.1em;
  --top-offset: 60.42vh;
  --fall-duration: 8.964s;
  --fall-delay: 12.351s;
}
.star:nth-child(2) {
  --star-tail-length: 6.25em;
  --top-offset: 3.04vh;
  --fall-duration: 11.516s;
  --fall-delay: 7.155s;
}

.star::before,
.star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/* Intro */

.container {
  display: flex;
  width: 40rem;
  height: 30rem;
  margin: 12rem auto;
}

.text-icon-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

h1 {
  color: var(--white-color);
  font-size: 80px;
  line-height: 80px;
  text-align: right;
  position: relative;
  margin-top: 4rem;
}

h1::before {
  content: "";
  position: absolute;
  top: -4rem;
  right: -15px;
  height: 400px;
  width: 2px;
  background: var(--primary-color);
}

.icon-container {
  text-align: right;
  margin-top: 2rem;
}

.icon-container i {
  color: var(--primary-color);
  font-size: 28px;
  padding: 0 0.5rem 0 1rem;
  opacity: 0.6;
}

.text-container {
  width: 55%;
  margin-left: 1.8rem;
}

.front {
  color: var(--primary-color);
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 500;
}

.info-text {
  margin-top: 1rem;
  color: var(--white-color);
}

.text-bk {
  background: var(--secondary-color);
  color: var(--main-bg-color);
  font-weight: 500;
  padding: 0px 5px;
}

.second-line {
  margin-top: 2rem;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
}

.btn {
  padding: 0.2rem 1rem;
  color: var(--white-color);
  border-radius: 0.1rem;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.primary-btn {
  border: 2px solid var(--primary-color);
  margin-right: 1rem;
}

.primary-btn:before {
  transition: 500ms all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--primary-color);
}

.primary-btn:hover:before {
  transition: 500ms all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.secondary-btn {
  border: 2px solid var(--secondary-color);
}

.secondary-btn:before {
  transition: 500ms all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--secondary-color);
}

.secondary-btn:hover:before {
  transition: 500ms all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* Projects */

.projects {
  min-height: 100vh;
  background: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  padding-top: 4rem;
  font-size: 48px;
  color: var(--white-color);
  border-bottom: 3px solid var(--secondary-color);
}

.project-container {
  width: 1300px;
  height: 1000px;
  margin-top: 4rem;
}

.container-project {
  display: flex;
}

.img-container {
  background: red;
  width: 700px;
  height: 350px;
  border-radius: 0.8rem;
  object-fit: cover;
}

.img-container img {
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
}

.project-info {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
}

h3 {
  color: var(--white-color);
  font-size: 24px;
}

.skill-info {
  margin-top: 2rem;
}

.skill {
  color: var(--white-color);
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  margin-right: 1rem;
}

.project-info-text {
  color: var(--white-color);
  width: 25rem;
  margin-top: 2rem;
}

.project-btn-container {
  margin-top: 2rem;
}

/* Media quries */

/* Intro */

@media (max-width: 768px) {
  h1::before {
    display: none;
  }

  h1 {
    text-align: center;
  }
  .container {
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    height: auto;
  }
  .icon-container {
    text-align: center;
  }

  .icon-container i {
    padding: 0 1rem 0 1rem;
  }

  .text-icon-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
  }
}
